body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.blue-color{
    color: #74b9ff;
}
p{
    text-align: justify;
}
.flexible-content{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 80%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.top-baner{
  background-image: url(./images/topmy-benner.png);
  background-repeat: no-repeat;
}
.middle-baner{
    background-image: url(./images/dreammy-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.buttom-baner{

}
.button{
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 40px;
    background-image:linear-gradient(#74b9ff,#0984e3);
    transition: 0.5s ease-in-out;

}
.button:hover{
    color: black;
    background-image:linear-gradient(#0984e3,#74b9ff);
}
.experiences-area{
    background-image: url(./images/expmy-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
.experiences-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px grey;
}

.experiences {
    text-align: center;
}
#Full-Stack-Developer{
    border-left: 7px solid;
    border-image: linear-gradient(#74b9ff,#0984e3);
    border-image-slice: 1;
}
#baby-web-Developer{
    border-left: 7px solid;
    border-image: linear-gradient(#0984e3,#74b9ff);
    border-image-slice: 1;

}
    

footer p{
    text-align: center;
}